*{
  text-align: center;
}
.col-sm-5 {
  background-color: blue;
  height: 800px;
}
.col-sm-7 {
  background-color: white;
  height: 800px;
}
.box {
  background-color: green;
  height: 350px;
  margin-bottom: 100px;
}
.box-two {
  background-color: red;
  height: 350px;
}